/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{
	padding: 0!important;
    margin: 0 13px !important;
}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 130%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #DC5B51!important;
	border: none;
	outline: none;
}
.slider .slick-arrow.slick-prev{
	left: 15px;
	background: url('../img/arrow.svg') center / 50% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 15px;
	background: url('../img/arrow.svg') center / 50% no-repeat;
	transform: rotateZ(180deg);
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.item {
	padding: 0px 15px;
}
.item img{
	max-width: 100%;
}
.item.slick-center{
	
}